body {
  font-family: "Otomanopee One", sans-serif;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 30px;
  color: rgba(94, 94, 94, 0.925);
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

.flexble-container {
  display: flex;
  margin-bottom: 150px;
}

p {
  font-size: 14px;
  color: rgba(32, 40, 47, 0.68);
  text-align: justify;
  padding: 10px;
}

.header {
  margin: 0px;
  padding-top: 5px;
  height: 1.5em;
  color: rgba(52, 49, 49, 0.938);
}

.banner {
  background-image: url(/Frame.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 80px;
  padding-right: 20%;
}

.skip-area {
  color: rgba(172, 48, 3, 0.762);
  font-weight: 700;
}

.link-button {
  background-image: linear-gradient(rgb(58, 251, 244), rgb(36, 128, 125));
  font-weight: 450;
  font-size: small;
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
  display: flex;
  padding: 5px 10px;
  position: absolute;
  border: groove beige;
  border-radius: 18px;
}

.half-width {
  padding-left: 5%;
  width: 50%;
}

.half-width img {
  max-width: 100%;
  width: 65%;
}

.recipe-area h3 {
  width: 100%;
  margin: 8px auto;
  text-align: center;
}

.recipe-item {
  width: 20%;
  margin: 5% 5%;
  height: 350px;
  padding: 15px;
  box-shadow: 1px 10px 15px 1px grey;
  border-radius: 1em;
}

#back-image {
  background-image: url(/dalum.jpg);
  width: 30%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.btn-color {
  background-image: linear-gradient(
    rgba(241, 235, 224, 0.632),
    rgba(160, 129, 124, 0.836)
  );
  height: 30px;
  width: 100%;
  border-radius: 20px;
}

.footer {
  background-color: rgb(111, 199, 183);
  width: 100%;
  height: 50%;
}

.text-area {
  text-align: center;
  padding: 10px;
  margin: 0px;
}

.card {
  width: 100%;
  display: flex;
  margin: 100px auto;
  height: -300px;
}

.card-area {
  width: 100%;
  margin: 5% 5%;
  height: 100px;
  padding: 10px;
  box-shadow: 1px 10px 15px 1px grey;
  border-radius: 1em;
}
