body {
  font-family: "Otomanopee One", sans-serif;
  margin: 0;
  padding-top: 20px;
}

h1 {
  font-size: 30px;
  color: rgba(94, 94, 94, 0.925);
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 15px;
}

p {
  font-size: 12px;
  color: rgba(32, 40, 47, 0.68);
  text-align: justify;
}

.header {
  margin: 0px;
  padding-top: 5px;
  height: 1.5em;
  color: rgba(52, 49, 49, 0.938);
}

.banner {
  background-image: url(/Frame.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 80px;
  padding-right: 20%;
}

.skip-area {
  color: rgba(172, 48, 3, 0.762);
  font-weight: 700;
}

.link-button {
  background-image: linear-gradient(rgb(58, 251, 244), rgb(36, 128, 125));
  font-weight: 450;
  font-size: small;
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
  display: flex;
  padding: 5px 10px;
  position: absolute;
  border: groove beige;
  border-radius: 18px;
}

.half-width {
  padding-left: 5%;
  width: 50%;
}

.half-width img {
  max-width: 100%;
  width: 65%;
}

.container {
  display: flex;
  margin-bottom: 50px;
  max-width: 100%;
}

.recipe-area {
  display: flex;
  margin-bottom: 150px;
}
